#main {
    width: 100%;
    text-align: center;
}

#player-panel {
    display: flex;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 200px;
    height: 64px;

    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;

    align-items: center;
    overflow: hidden;
    font-size: small;
    font-weight: bold;
}

#player-icon {
    width: 64px;
    height: 64px;
    float: left;
} #player-icon img {
    height: 100%;
}

#player-username {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#game-wrapper {
    display: flex;
    width: 900px;
    height: 500px;
    margin: auto;

    align-items: center;

    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

#btn-bar {
    display: flex;
    width: 900px;
    margin: 2px auto 2px auto;

    justify-content: space-between;
}

.ui-btn {
    background-color: black;
    color: white;
    border-radius: 8px;
    border-width: 0;
    padding: 5px 10px 5px 10px;
    transition: all 0.1s;
} .ui-btn:hover {
    background-color: #111;
    color: lightgray;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px gray;
    cursor: pointer;
}

#info {
    width: 900px;
    margin: auto;
}

#game-instructions ul {
    width: max-content;
    margin: auto;
    text-align: left;
}



/* ↓ GAME WINDOW STYLING ↓ */

.box {
    width: 81.8px;
    height: 57.1px;
    color: red;

}

.egg {
    width: 81.8px;
    height: 57.1px;
    color: red;
    background-image: url('../../images/Deviled\ Egg.png');
    background-size: 81.8px 57.1px;
}

.floorBoard {
    width: 81.8px;
    height: 57.1px;
    color: red;

}

.messExit {
    width: 81.8px;
    height: 57.1px;
    color: red;

}

.bunkDoor {
    width: 81.8px;
    height: 57.1px;
    color: red;

}

.jailDoor {
    width: 81.8px;
    height: 57.1px;
    color: red;

}

.plank {
    width: 81.8px;
    height: 57.1px;
    color: red;

}

.crowbar {
    width: 81.8px;
    height: 57.1px;
    color: red;
    background-image: url('../../images/crowbar.png');
    background-size: 81.8px 57.1px;
}

.noCrowbar {
    width: 81.8px;
    height: 57.1px;
    color: red;
    background-image: none;
    background-size: 81.8px 57.1px;
}

.key {
    width: 81.8px;
    height: 57.1px;
    color: red;
    background-image: url('../../images/jailKey.png');
    background-size: 81.8px 57.1px;
}

.lightsaber {
    width: 81.8px;
    height: 57.1px;
    color: red;
    background-image: url('../../images/Lightsaber.png');
    background-size: 81.8px 57.1px;
}

.gwindow {
    display: flex;
    flex: auto;
    width: 900px;
    height: 450px;
    background: url("../../images/captainsQuarters.jpg");
    background-repeat: no-repeat;
    background-size: 900px 400px;
}

.gwindow2 {
    display: flex;
    flex: auto;
    width: 900px;
    height: 450px;
    background: url("../../images/messDeck.jpg");
    background-repeat: no-repeat;
    background-size: 900px 400px;
}

.gwindow3 {
    display: flex;
    flex: auto;
    width: 900px;
    height: 450px;
    background: url("../../images/crewBunks.jpg");
    background-repeat: no-repeat;
    background-size: 900px 400px;
}

.gwindow4 {
    display: flex;
    flex: auto;
    width: 900px;
    height: 450px;
    background: url("../../images/jailCell.jpg");
    background-repeat: no-repeat;
    background-size: 900px 400px;
}

.gwindow5 {
    display: flex;
    flex: auto;
    width: 900px;
    height: 450px;
    background: url("../../images/topDeck.png");
    background-repeat: no-repeat;
    background-size: 900px 400px;
}
