#main {
    width: 100%;
    text-align: center;
}

#player-panel {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 200px;

    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#game-wrapper {
    width: 900px;
    margin: auto;
}

#game-window {
    width: 900px;
    height: 600px;

    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
}

#btn-bar {
    display: flex;
    width: 100%;

    justify-content: space-between;
}

.box {
    width: 81.8px;
    height: 57.1px;
    color: red;

}

.crowbar {
    width: 81.8px;
    height: 57.1px;
    color: red;
    background-image: url('../../images/crowbar.png');
    background-size: 81.8px 57.1px;
}

.gwindow {
    display: flex;
    flex: auto;
    width: 900px;
    height: 400px;
    background: url("../../images/captainsQuarters.jpg");
    background-repeat: no-repeat;
    background-size: 900px 400px;
}