
.Game {
    display: flex;
    height: 50vh;
    font-weight: bold;
    width: 50px;

}

.inventory {
    display: grid;
    grid-template-columns: (10, 5vw);
    grid-template-rows: (5, 3.5vw);
    grid-gap: 0px;
    text-align: center;
    background: rgb(14, 13, 13);
}

content {
    overflow: hidden;
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30%;
}

.shown{
width: 81.8px;
height: 57.1px;
color: red;
background-size: 81.8px 57.1px;
}

.hidden{
    display:hidden;
}