body {background-color: rgb(175, 153, 120);        
}
.dashboard-wrapper {
    text-align: center;
    font-family: 'Bungee Inline', cursive;
    color: rgb(39, 30, 12);
    text-shadow: .25px .5px rgb(255, 240, 216);
}
