@font-face {
    font-family: 'BlackRose';
    src: url('BlackRose.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: BlackRose;
    background-color: antiquewhite;
}

.wrapper {
    padding: 20px;
}

p, li, label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
